<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类列表页面</title>
</head>
<body>
<h1>分类列表</h1>
{#<table cellpadding="5" cellspacing="0" border="1" width="80%" style="margin: 0px auto">#}
<table>
    <thead>
        <th>序号</th>
        <th>标题</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ tag.name }}</td>
                <td>
                    <a href="/artapp/tags?id={{ tag.id }}">编辑</a>
                    <a onclick="del('{{ tag.id }}','{{ tag.name }}')">删除</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
<tfoot>
    <td>
        <button onclick="add()">新增</button>
    </td>
    <td colspan="2" align="right">
        &gt;&gt; 1 2 3 4 &lt;&lt
    </td>
</tfoot>
</table>
<script>
    function del (id) {
        if(confirm('是否要删除'+ name + '?')){
            window.open('/artapp/delete_tag?id='+id)
        }
    }
    function add() {
        window.open('/artapp/tags/')
    }
</script>

</body>
</html>